AddKeysToAgent  yes

# example of template for multiple targets.
Host template-host
	HostName 00.00.000.00

Host template-*
	User jodndoe
	PubkeyAuthentication yes
	IdentityFile ~/.ssh/key.ru
    # expample of port forwarding
	LocalForward 9999 00.00.00.10:8888

Host gitlab.com
	HostName gitlab.com
	PubkeyAuthentication yes
	IdentityFile ~/.ssh/rtemka.gitlab.com

Host github.com
	HostName github.com
	PubkeyAuthentication yes
	IdentityFile ~/.ssh/rtemka.github.com
